section.about
    .about__image
        img(src="assets/images/shape-hero.svg", alt="")
    .container
        .row
            .about__content
                h2.title-lg How it works
                p.lead RCN is a network of key DeFi and CeFi service providers that interact with each other through an open-source set of Ethereum smart-contracts to connect credit markets’ supply and demand and enable frictionless lending and borrowing use cases.
