section.about
    .about__image
        img(src="assets/images/shape-hero.svg", alt="")
    .container
        .row
            .about__content
                h2.title-lg Corporate
                p.lead The platform connects corporate borrowers with a global network of retail lenders, providing them direct access to funding while removing third parties and reducing operation and financing costs. With borderless liquidity, flexible loan terms and plug-and-play integrations, getting funding is now easier than ever before.
        .about__list
            include card_list_originators
