section.about
    .about__image
        img(src="assets/images/shape-hero.svg", alt="")
    .container
        .row
            .about__content
                h2.title-lg Creditors
                p.lead RCN allows lenders to reach the most profitable debt markets around the world, no matter where they are. With multiple currencies to choose from, highly competitive returns and versatile risk management options, lending is now the smartest strategy for crypto portfolios.
        .about__list
            include card_list