section.about
    .about__image
        img(src="assets/images/shape-hero.svg", alt="")
    .container
        .row
            .about__content
                h2.title-lg Lenders
                p.lead The Credit Marketplace allows lenders worldwide to reach the most attractive lending opportunities, no matter where they are. With predictable and competitive interest rates and multiple loan types and currencies to choose from, lending is now one of the smartest use cases for cryptocurrencies.
        .about__list
            include card_list_lenders
