section.about
    .about__image
        img(src="assets/images/shape-hero.svg", alt="")
    .container
        .row
            .about__content
                h2.title-lg Borrowers
                p.lead The RCN Credit Marketplace enables borrowers around the world to request funds on their own terms by posting crypto-collateral. With predictable and competitive interest rates and a wide variety of adjustable variables, Peer To Peer (P2P) DeFi borrowing is now a highly personalized experience.
        .about__list
            include card_list_borrowers
