.card-list
    .card
        .card__icon
            img(src="assets/images/icon-borrowers-1.svg", alt="", srcset="")
        div
            .card__title
                h3 Efficient
                hr
            .card__lead
                p Thanks to their P2P mechanism, the Credit Marketplace’s DeFi Loans have no spreads between borrowing and lending APRs.
    .card
        .card__icon
            img(src="assets/images/icon-borrowers-2.svg", alt="", srcset="")
        div
            .card__title
                h3 Customizable
                hr
            .card__lead
                p With ten adjustable variables available, DeFi Loans’ borrowers can now request funds putting their needs and preferences first.
    .card
        .card__icon
            img(src="assets/images/icon-borrowers-3.svg", alt="", srcset="")
        div
            .card__title
                h3 Stable
                hr
            .card__lead
                p P2P Loans’ APRs don’t vary during their term, allowing borrowers to know how much they will pay from the first day to the last.
