.card-list
    .card
        .card__icon
            img(src="assets/images/home-frictionless.svg", alt="", srcset="")
        div
            .card__title
                h3 Frictionless
                hr
            .card__lead
                p The network allows creditors to make loans in a variety of lending and borrowing currencies.
    .card
        .card__icon
            img(src="assets/images/home-transparent.svg", alt="", srcset="")
        div
            .card__title
                h3 Transparent
                hr
            .card__lead
                p The network allows creditors to make loans in a variety of lending and borrowing currencies.
    .card
        .card__icon
            img(src="assets/images/home-borderless.svg", alt="", srcset="")
        div
            .card__title
                h3 Borderless
                hr
            .card__lead
                p The network allows creditors to make loans in a variety of lending and borrowing currencies.