.card-list
    .card
        .card__icon
            img(src="assets/images/home-frictionless.svg", alt="", srcset="")
        div
            .card__title
                h3 Flexible
                hr
            .card__lead
                p With support for both DeFi and CeFi loans, the Credit Marketplace enables lenders to access multiple lending alternatives without leaving the platform.
    .card
        .card__icon
            img(src="assets/images/home-transparent.svg", alt="", srcset="")
        div
            .card__title
                h3 Peer to peer
                hr
            .card__lead
                p Thanks to a P2P lending system, the Credit Marketplace’s lenders can enjoy fixed interest rates without spreads between lending and borrowing APRs.
    .card
        .card__icon
            img(src="assets/images/home-borderless.svg", alt="", srcset="")
        div
            .card__title
                h3 Multicurrency
                hr
            .card__lead
                p The Credit Marketplace allows lenders to fund loans in a variety of lending and borrowing currencies.
