.card-list
    .card
        .card__icon
            img(src="assets/images/home-frictionless.svg", alt="", srcset="")
        div
            .card__title
                h3 Globally liquid
                hr
            .card__lead
                p By accessing global credit supply, corporate borrowers can get funding at affordable rates regardless of their local APR.
    .card
        .card__icon
            img(src="assets/images/home-transparent.svg", alt="", srcset="")
        div
            .card__title
                h3 Term flexible
                hr
            .card__lead
                p Loans can be customized to fit each corporate borrower’s required amount, currency, APR, LTV and maturity, among other parameters.
    .card
        .card__icon
            img(src="assets/images/home-borderless.svg", alt="", srcset="")
        div
            .card__title
                h3 Plug & play
                hr
            .card__lead
                p The RCN protocol allows corporate borrowers to get integrated using a simple SDK and without requiring any previous blockchain experience.
