section.loan
    .container
        .row
            .loan__list
                .item
                    .item--nav#nav
                        i.fas.fa-chevron-down
                    .item--icon
                        i.fas.fa-user
                    .item--text
                        h3 Borrower
                        a(href="www.wenance.com") www.wenance.com
                    .more#menu-drop
                            h3 Expected Return 
                            p The Expected Return is the amount the Borrower will owe to the Creditor once the Due Date has arrived, denominated in the Lending Currency and assuming the exchange rate between Borrowing and Lending Currencies has not changed during the loan’s Duration.
                .item
                    .item--nav#nav
                        i.fas.fa-chevron-down
                    .item--icon
                        i.fas.fa-calendar-alt
                    .item--text
                        h3 Duration
                        p.lead www.wenance.com
                    .more#menu-drop
                            h3 Expected Return 
                            p The Expected Return is the amount the Borrower will owe to the Creditor once the Due Date has arrived, denominated in the Lending Currency and assuming the exchange rate between Borrowing and Lending Currencies has not changed during the loan’s Duration.
                .item
                    .item--nav#nav
                        i.fas.fa-chevron-down
                    .item--icon
                        i.fas.fa-user-circle
                    .item--text
                        h3 Cosigner
                        p.lead Ripio
                    .more#menu-drop
                            h3 Expected Return 
                            p The Expected Return is the amount the Borrower will owe to the Creditor once the Due Date has arrived, denominated in the Lending Currency and assuming the exchange rate between Borrowing and Lending Currencies has not changed during the loan’s Duration.
                .item
                    .item--nav#nav
                        i.fas.fa-chevron-down
                    .item--icon
                        i.fas.fa-long-arrow-alt-up
                    .item--text
                        h3 Status
                        p.lead www.wenance.com
                    .more#menu-drop
                            h3 Expected Return 
                            p The Expected Return is the amount the Borrower will owe to the Creditor once the Due Date has arrived, denominated in the Lending Currency and assuming the exchange rate between Borrowing and Lending Currencies has not changed during the loan’s Duration.
                .item
                    .item--nav#nav
                        i.fas.fa-chevron-down
                    .item--icon
                        i.fas.fa-calculator
                    .item--text
                        h3 Status
                        p.lead www.wenance.com
                    .more#menu-drop
                            h3 Expected Return 
                            p The Expected Return is the amount the Borrower will owe to the Creditor once the Due Date has arrived, denominated in the Lending Currency and assuming the exchange rate between Borrowing and Lending Currencies has not changed during the loan’s Duration.
                .item
                    .item--nav#nav
                        i.fas.fa-chevron-down
                    .item--icon
                        i.fas.fa-user
                    .item--text
                        h3 Status
                        p.lead www.wenance.com
                    .more#menu-drop
                            h3 Expected Return 
                            p The Expected Return is the amount the Borrower will owe to the Creditor once the Due Date has arrived, denominated in the Lending Currency and assuming the exchange rate between Borrowing and Lending Currencies has not changed during the loan’s Duration.
                .item
                    .item--nav#nav
                        i.fas.fa-chevron-down
                    .item--icon
                        i.fas.fa-long-arrow-alt-up
                    .item--text
                        h3 Status
                        p.lead www.wenance.com
                .item
                    .item--nav#nav
                        i.fas.fa-chevron-down
                    .item--icon
                        i.fas.fa-calculator
                    .item--text
                        h3 Status
                        p.lead www.wenance.com
                .item
                    .item--nav#nav
                        i.fas.fa-chevron-down
                    .item--icon
                        i.fas.fa-user
                    .item--text
                        h3 Status
                        p.lead www.wenance.com
                .item
                    .item--nav#nav
                        i.fas.fa-chevron-down
                    .item--icon
                        i.fas.fa-long-arrow-alt-up
                    .item--text
                        h3 Status
                        p.lead www.wenance.com
                .item
                    .item--nav#nav
                        i.fas.fa-chevron-down
                    .item--icon
                        i.fas.fa-calculator
                    .item--text
                        h3 Status
                        p.lead www.wenance.com
                .item
                    .item--nav#nav
                        i.fas.fa-chevron-down
                    .item--icon
                        i.fas.fa-user
                    .item--text
                        h3 Status
                        p.lead www.wenance.com                                
