section.loan
    .container
        .row
            .loan__list
                .item
                    .item--nav
                        i.fas.fa-chevron-down
                    .more
                        h3 BORROWING CURRENCY
                        p The Borrowing Currency is the currency in which the loan and its interests are denominated.
                    .item--icon
                        i.demo-icon.icon-trazado-11243
                    .item--text
                        h3 BORROWING CURRENCY
                        p.lead USDC
                .item
                    .item--nav
                        i.fas.fa-chevron-down
                    .more
                        h3 BORROW AMOUNT
                        p The Borrow Amount is the amount the borrower is requesting from a lender, denominated in the Borrowing Currency.
                    .item--icon
                        i.demo-icon.icon-trazado-11253
                    .item--text
                        h3 BORROW AMOUNT
                        p.lead 10,000 USDC
                .item
                    .item--nav
                        i.fas.fa-chevron-down
                    .more
                        h3 REPAY AMOUNT
                        p The Repay Amount is the amount of capital plus interest the borrower has to pay back to fully repay a loan, denominated in the Borrowing Currency.
                    .item--icon
                        i.demo-icon.icon-trazado-11254
                    .item--text
                        h3 REPAY AMOUNT
                        p.lead 10,250 USDC
                .item
                    .item--nav
                        i.fas.fa-chevron-down
                    .more
                        h3 ANNUAL RATE
                        p The Annual Rate is the annualized interest rate paid by the borrower and earned by the lender for funding the loan (without taking compound interest into account).
                    .item--icon
                        i.demo-icon.icon-trazado-11259
                    .item--text
                        h3 ANNUAL RATE
                        p.lead 10 %
                .item
                    .item--nav
                        i.fas.fa-chevron-down
                    .more
                        h3 DURATION
                        p The Duration indicates the amount of time the borrower has in order to repay the loan, before its collateral gets partially or totally liquidated.
                    .item--icon
                        i.demo-icon.icon-trazado-11252
                    .item--text
                        h3 DURATION
                        p.lead 90 Days
                .item
                    .item--nav
                        i.fas.fa-chevron-down
                    .more
                        h3 EXPIRATION TIME
                        p The Expiration Time indicates the amount of time the loan request will remain active before expiring, if it isn’t funded by a lender.
                    .item--icon
                        i.demo-icon.icon-trazado-11251
                    .item--text
                        h3 EXPIRATION TIME
                        p.lead 1 Day
                .item
                    .item--nav
                        i.fas.fa-chevron-down
                    .more
                        h3 COLLATERAL AMOUNT
                        p The Collateral Amount is the amount of funds that the borrower has locked to back the loan.
                    .item--icon
                        i.demo-icon.icon-trazado-11255
                    .item--text
                        h3 COLLATERAL AMOUNT
                        p.lead 619424.4604 RCN
                .item
                    .item--nav
                        i.fas.fa-chevron-down
                    .more
                        h3 COLLATERAL RATIO
                        p The Collateral Ratio is the proportion between the value of the collateral and the value of the borrowed funds.
                    .item--icon
                        i.demo-icon.icon-trazado-11260
                    .item--text
                        h3 COLLATERAL RATIO
                        p.lead 252%
                .item
                    .item--nav
                        i.fas.fa-chevron-down
                    .more
                        h3 LIQUIDATION EXCHANGE RATE
                        p The Liquidation Exchange Rate is the exchange rate at which the Collateral Ratio will reach the Liquidation Ratio.
                    .item--icon
                        i.demo-icon.icon-grupo-843
                    .item--text
                        h3 LIQUIDATION EXCHANGE RATE
                        p.lead 0.0248 RCN/USDC
                .item
                    .item--nav
                        i.fas.fa-chevron-down
                    .more
                        h3 LIQUIDATION RATIO
                        p The Liquidation Ratio is the value of the Collateral Ratio at which the collateral will get partially or fully liquidated.
                    .item--icon
                        i.demo-icon.icon-trazado-11257
                    .item--text
                        h3 LIQUIDATION RATIO
                        p.lead 150%
                .item
                    .item--nav
                        i.fas.fa-chevron-down
                    .more
                        h3 SAFETY RATIO
                        p The Safety Ratio is the value the Collateral Ratio will reach after a collateral liquidation.
                    .item--icon
                        i.demo-icon.icon-trazado-11258
                    .item--text
                        h3 SAFETY RATIO
                        p.lead 200%
                .item
                    .item--nav
                        i.fas.fa-chevron-down
                    .more
                        h3 CURRENT EXCHANGE RATE
                        p The Current Exchange Rate is the current price ratio between the Collateralization Currency and the Borrowing Currency. This variable can be verified but not defined by the borrower.
                    .item--icon
                        i.demo-icon.icon-trazado-11262
                    .item--text
                        h3 CURRENT EXCHANGE RATE
                        p.lead 0.0417 RCN/USDC
                .item
                    .item--nav
                        i.fas.fa-chevron-down
                    .more
                        h3 INSTALMENTS
                        p The Instalments indicate the number of evenly distributed and equal payments in which the Repay amount will be repaid. Each of these payments implies another due date in the loan’s repayment schedule.
                    .item--icon
                        i.demo-icon.icon-trazado-11261
                    .item--text
                        h3 INSTALMENTS
                        p.lead 1 Payment
                .item
                    .item--nav
                        i.fas.fa-chevron-down
                    .more
                        h3 ORACLE
                        p The Oracle, represented by its Ethereum address, supplies the exchange rate used to calculate the equivalence between amounts denominated in the Borrowing and Lending Currencies. This variable can be verified but not defined by the borrower.
                    .item--icon
                        i.demo-icon.icon-grupo-842
                    .item--text
                        h3 ORACLE
                        p.lead 0x03...a23E
