section.loan
    .container
        .row
            .loan__list
                .item
                    .item--nav
                        i.fas.fa-chevron-down
                    .more
                        h3 BORROWING CURRENCY
                        p The Borrowing Currency is the currency in which the loan and its interests are denominated.
                    .item--icon
                        i.demo-icon.icon-trazado-11243
                    .item--text
                        h3 BORROWING CURRENCY
                        p.lead USDC
                .item
                    .item--nav
                        i.fas.fa-chevron-down
                    .more
                        h3 LEND AMOUNT
                        p The Lend Amount is the amount the lender has to deposit in order to fund the loan, denominated in the Borrowing Currency. This amount can also be seen expressed in the chosen Lending Currency on the Loan Lending dialog.
                    .item--icon
                        i.demo-icon.icon-trazado-11245
                    .item--text
                        h3 LEND AMOUNT
                        p.lead 10,000 USDC
                .item
                    .item--nav
                        i.fas.fa-chevron-down
                    .more
                        h3 RECEIVE AMOUNT
                        p The Receive Amount is the amount of capital plus interest the lender will receive for funding the loan, denominated in the Borrowing Currency. A possible value for this amount can also be seen expressed in the chosen Lending Currency on the Loan Lending dialog.
                    .item--icon
                        i.demo-icon.icon-trazado-11244
                    .item--text
                        h3 RECEIVE AMOUNT
                        p.lead 10,250 USDC
                .item
                    .item--nav
                        i.fas.fa-chevron-down
                    .more
                        h3 ANNUAL RATE
                        p The Annual Rate is the annualized interest rate paid by the borrower and earned by the lender for funding the loan (without taking compound interest into account).
                    .item--icon
                        i.demo-icon.icon-trazado-11247
                    .item--text
                        h3 ANNUAL RATE
                        p.lead 10 %
                .item
                    .item--nav
                        i.fas.fa-chevron-down
                    .more
                        h3 PENALTY RATE
                        p The Penalty Rate is the interest rate that replaces the Annual Rate in CeFi loans once the Due Date has passed and the loan’s status has changed to Overdue. This rate is applied to both the principal and the interest accrued until that moment.
                    .item--icon
                        i.demo-icon.icon-trazado-11242
                    .item--text
                        h3 PENALTY RATE
                        p.lead 15%
                .item
                    .item--nav
                        i.fas.fa-chevron-down
                    .more
                        h3 DURATION
                        p The Duration indicates the amount of time the borrower has in order to repay the loan before its status changes to Overdue, and the Penalty Rate replaces the Annual Rate.
                    .item--icon
                        i.demo-icon.icon-trazado-11246
                    .item--text
                        h3 DURATION
                        p.lead 90 Days
                .item
                    .item--nav
                        i.fas.fa-chevron-down
                    .more
                        h3 COLLATERAL AMOUNT
                        p The Collateral Amount is the amount of funds currently collateralized in a DeFi loan.
                    .item--icon
                        i.demo-icon.icon-trazado-11238
                    .item--text
                        h3 COLLATERAL AMOUNT
                        p.lead 619424.4604 RCN
                .item
                    .item--nav
                        i.fas.fa-chevron-down
                    .more
                        h3 COLLATERAL RATIO
                        p The Collateral Ratio is the proportion between the value of the collateral and the value of the borrowed funds in a DeFi loan.
                    .item--icon
                        i.demo-icon.icon-trazado-11239
                    .item--text
                        h3 COLLATERAL RATIO
                        p.lead 252%
                .item
                    .item--nav
                        i.fas.fa-chevron-down
                    .more
                        h3 LIQUIDATION EXCHANGE RATE
                        p The Liquidation Exchange Rate is the exchange rate at which the Collateral Ratio will reach the Liquidation Ratio in a DeFi loan.
                    .item--icon
                        i.demo-icon.icon-grupo-841
                    .item--text
                        h3 LIQUIDATION EXCHANGE RATE
                        p.lead 0.0248 RCN/USDC
                .item
                    .item--nav
                        i.fas.fa-chevron-down
                    .more
                        h3 LIQUIDATION RATIO
                        p The Liquidation Ratio is the value of the Collateral Ratio at which the collateral will get partially or fully liquidated in a DeFi loan.
                    .item--icon
                        i.demo-icon.icon-trazado-11240
                    .item--text
                        h3 LIQUIDATION RATIO
                        p.lead 150%
                .item
                    .item--nav
                        i.fas.fa-chevron-down
                    .more
                        h3 SAFETY RATIO
                        p The Safety Ratio is the value the Collateral Ratio will reach after a collateral liquidation in a DeFi loan.
                    .item--icon
                        i.demo-icon.icon-trazado-11241
                    .item--text
                        h3 SAFETY RATIO
                        p.lead 200%
                .item
                    .item--nav
                        i.fas.fa-chevron-down
                    .more
                        h3 CURRENT EXCHANGE RATE
                        p The Current Exchange Rate is the current price ratio between the Collateralization Currency and the Borrowing Currency in a DeFi loan.
                    .item--icon
                        i.demo-icon.icon-trazado-11249
                    .item--text
                        h3 CURRENT EXCHANGE RATE
                        p.lead 0.0417 RCN/USDC
                .item
                    .item--nav
                        i.fas.fa-chevron-down
                    .more
                        h3 INSTALMENTS
                        p The Instalments Schedule indicates the number, date and amount of the payments in which the Receive Amount will be repaid. Each of these payments represents another due date in the loan’s repayment schedule.
                    .item--icon
                        i.demo-icon.icon-trazado-11248
                    .item--text
                        h3 INSTALMENTS
                        p.lead 1 Payment
                .item
                    .item--nav
                        i.fas.fa-chevron-down
                    .more
                        h3 BORROWER
                        p The borrower’s address is a unique identification of his or her Ethereum wallet.
                    .item--icon
                        i.demo-icon.icon-trazado-11250
                    .item--text
                        h3 BORROWER
                        p.lead 0x2c...ef20
                .item
                    .item--nav
                        i.fas.fa-chevron-down
                    .more
                        h3 ORACLE
                        p The Oracle, represented by its Ethereum address, supplies the exchange rate used to calculate the equivalence between amounts denominated in the Borrowing and Lending Currencies.
                    .item--icon
                        i.demo-icon.icon-grupo-840
                    .item--text
                        h3 ORACLE
                        p.lead 0x03...a23E
