.scrollspy
  .scrollspy__title#name-section
  ul.scrollspy__nav
    li.scrollspy__nav-item
      a.--active(href='#section-0') 
    li.scrollspy__nav-item
      a.--active(href='#section-1') |
    li.scrollspy__nav-item
      a(href='#section-2') |
    li.scrollspy__nav-item
      a(href='#section-3') |
    li.scrollspy__nav-item
      a(href='#section-4') |
    li.scrollspy__nav-item
      a(href='#section-5') |
