.about{
    position: relative;
    overflow: hidden;
    padding-top: 90px;
    &__image{
        position: absolute;
        right: -170px;
        top: -100px;
        opacity: 0.8;
        @include breakpoint(sm) {
            right: -80px;
            top: -260px;
          }
    }
    .row{
        @extend .flex, .justify-center, .align-center;
    }
    &__content{
        position: relative;
        text-align: center;
        width: 100%;
        max-width: 925px;
        margin-bottom: 150px;
        h2{
            color: $color-primary;
            margin-bottom: 30px;
        }
    }
}