.button {
  font: 600 normal 12px/15px $font;
  letter-spacing: 1.2px;
  text-decoration: none;
  border-radius: 3px;
  padding: 18px 30px;
  text-transform: uppercase;
  text-align: center;
  &--primary {
    border: 1px solid $color-primary;
    color: $color-primary;
    box-sizing: border-box;
    transition: all 300ms;
    &:hover {
      background-color: $color-primary;
      color: white;
    }
  }
}

.scroll-down {
  @extend .flex, .flex-column, .justify-center, .align-center, .absolute;
  left: 50%;
  bottom: -70px;
  cursor: pointer;
  box-sizing: border-box;
  z-index: 2;
  @include breakpoint(sm) {
    bottom: -100px;
  }
  &--item {
    background-color: white;
    border:2px solid $color-primary;
    border-radius: 100%;
    margin-bottom: 7px;
    text-align: center;
    &:first-child {
      width: 7px;
      height: 7px;
      display: none;
      @include breakpoint(sm) {
        display: block;
      }
    }
    &:nth-child(2) {
      width: 9px;
      height: 9px;
      display: none;
      @include breakpoint(sm) {
        display: block;
      }
    }
    &:last-child {
      width: 25px;
      height: 25px;
      transform: rotate(90deg);
      padding-top: 1px;
    }
    img {
      width: 10px;
    }
  }
}


.slick-prev{
  background-image: url("../images/arrow-circle-left.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 22px;
  height: 22px;
  bottom: 0;
  font-size: 0;
  z-index: 1;
  left: 30px;
  @include breakpoint(sm) {
    left: 180px;
  }
  &:focus{
    outline: 0;
    opacity: 0.7;
  }
}
.slick-next{
  background-image: url("../images/arrow-circle-right.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  background-color: transparent;
  border: none;
  width: 22px;
  height: 22px;
  position: absolute;
  cursor: pointer;
  font-size: 0;
  bottom: 0;
  right: 30px;
  @include breakpoint(sm) {
    right: 200px;
  }
  &:focus{
    outline: 0;
    opacity: 0.7;
  }
}
