.loan {
  .row {
    @extend .flex, .justify-center, .align-center;
  }
  &__list {
    @extend .flex, .justify-center, .align-center, .flex-wrap;
    width: 100%;
    max-width: 858px;
    margin-left: auto;
    margin-right: auto;
    .item {
      @extend .flex, .justify-start, .align-center, .relative;
      border-bottom: 0.5px solid $light-grey-2;
      padding: 20px 0px;
      width: 100%;
      @include breakpoint(sm) {
        width: 33.3%;
        &:nth-last-child(1),
        &:nth-last-child(2),
        &:nth-last-child(3) {
          border: none;
        }
      }
      &--nav {
        @extend .absolute;
        cursor: pointer;
        color: $grey;
        right: 20px;
        transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
        @include breakpoint(sm) {
          display: none;
        }
      }
      .more {
        box-shadow: 0px 3px 15px #6e6e6e2b;
        border-radius: 7px;
        background-color: white;
        padding: 25px 20px;
        @extend .absolute;
        z-index: 1;
        display: none;
        left: 0px;
        top: 80px;
        h3 {
          font: 700 normal 16px/20px $font;
          color: $color-primary;
          margin-bottom: 10px;
          text-transform: unset;
        }
        p {
          font: 400 normal 14px/20px $font;
          color: $grey;
        }
      }
      .--open {
        display: block !important;
      }
      &--text {
        h3 {
          font: 300 normal 14px/16px $font;
          text-transform: uppercase;
          color: $grey;
        }
        a {
          font: 600 normal 15px/23px $font;
          color: $color-primary;
        }
        p.lead {
          font: 700 normal 15px/23px $font;
          color: #242424;
        }
      }
      &--icon {
        @extend .flex, .align-center, .justify-center;
        background: $color-primary;
        border: 1px solid $color-primary;
        border-radius: 50px;
        margin-right: 10px;
        min-width: 40px;
        height: 40px;
        cursor: pointer;
        transition: all 1.2s;
        &:hover {
          background: $white;
          i {
            color: $color-primary;
          }
        }
        i {
          color: $white;
        }
      }
    }
  }
}

.loan__list .item:hover > .more {
    display: none;
  @include breakpoint(sm) {
    display: block !important;
  }
}
