.menu {
  background-color: $white;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(4px);
  @extend .flex, .justify-between, .align-center;
  padding: 10px 15px;
  position: sticky;
  top: 0;
  z-index: 9;
  transition: all 300ms;
  @include breakpoint(sm) {
    padding: 10px 38px;
  }
  .logo {
    @extend .flex, .justify-between, .align-center;
    color: black;
    text-decoration: none;
    font: 600 normal 21px $font;
    &--revert {
      color: white;
    }
  }
  .icon {
    width: 30px;
    margin-right: 7px;
  }
  #menu {
    cursor: pointer;
    filter: brightness(0);
  }
  &--dropdown {
    @extend .flex, .flex-column, .justify-between, .align-start;
    padding: 20px 50px 60px 38px;
    background-color: $color-primary;
    width: 100%;
    max-width: 556px;
    height: 100%;
    position: fixed;
    top: 0;
    .menu__item {
      &--links {
        @extend .flex, .flex-column;
        width: 100%;
        overflow: hidden;
        font: 700 normal 45px/54px $font;
        letter-spacing: -2.25px;
        a {
          text-decoration: none;
          color: white;
          margin-bottom: 20px;
          position: relative;
          @extend .flex, .align-center;
          &:hover {
            transition: all 1.2s;
            transform: translateX(40px);
            color: black;
          }
          &:hover::before {
            transition: all 1.2s;
            transform: translateX(-40px);
          }
          &::before {
            background-image: url("../images/arrow-right-solid.svg");
            background-repeat: no-repeat;
            content: "";
            width: 30px;
            height: 30px;
            transform: translateX(-30px);
            @extend .absolute;
          }
        }
      }
      span {
        &.nav-icon {
          cursor: pointer;
          text-align: right;
          align-self: flex-end;
          font-size: 21px;
        }
      }
      &:first-child {
        align-self: flex-end;
      }
      &--contact {
        width: 100%;
        @extend .flex, .align-center, .justify-between;
        h3 {
          font: 900 normal 45px/54px sans-serif;
        }
        hr {
          width: 100%;
          max-width: 180px;
          height: 1px;
          border: none;
          background-color: black;
          margin: 0;
        }
      }
    }
    z-index: 999999;
    right: -100%;
    transition: all 600ms;
    &.--open {
      right: 0;
    }
    &.--close {
      right: -100%;
    }
  }
}
