.network {
  margin: 60px 0px;
  .wrapper {
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
  }
  &__tab {
    @extend .flex, .justify-center, .flex-column;
    &--nav {
      @extend .flex, .justify-center;
      margin: 30px 0px;
      .tablinks {
        background: transparent;
        border: none;
        text-transform: uppercase;
        font: 800 normal 16px/20px $font;
        letter-spacing: 1.6px;
        color: $ligth-grey;
        cursor: pointer;
        &:focus {
          color: $black;
          outline: none;
        }
      }
    }
    .--carousel {
        .tablinks {
          display: inline-block;
          margin: 0 10px;
          width: 10px;
          height: 11px;
          background-color: $ligth-grey;
          border-radius: 100%;
          cursor: pointer;
          transition: background-color 0.6s;
          &:focus {
            background-color: $color-primary;
            outline: none;
          }
        }
      }      
    &--content {
      text-align: center;
      margin-bottom: 45px;
      p.--lead {
        color: $black;
        font: 300 normal 30px/40px $font;
        margin-bottom: 30px;
        strong {
          font-weight: 800;
        }
      }
    }
  }
  &__content {
    text-align: center;
    &--title {
      font: 800 normal 45px/54px $font;
      letter-spacing: -2.25px;
      color: $black;
      margin-bottom: 20px;
    }
    &--lead {
      font: 300 normal 20px/27px $font;
      color: $grey;
      margin-bottom: 50px;
    }
  }
  .--show {
    display: block !important;
  }
  .--active {
    background-color: $color-primary;
  }

  .tabcontent {
    display: none;
  }
}

