extends layouts/layout-primary

//- block vars
//-   - bodyClasses.push('bg__content')

block content
  include layouts/components/about
  include layouts/components/white_space
  include layouts/loan_properties
  include layouts/components/white_space
  include layouts/getting_started
