extends layouts/layout-primary

//- block vars
//-   - bodyClasses.push('bg__content')

block content
  include layouts/components/about-how-to-work
  include layouts/usecases
  include layouts/loan-life-cycle
  include layouts/components/white_space
  include layouts/get_token
