extends layouts/layout-primary

//- block vars
//-   - bodyClasses.push('bg__content')

block content
  include layouts/components/about_originators
  include layouts/components/white_space
  include layouts/get_board
