extends layouts/layout-primary

//- block vars
//-   - bodyClasses.push('bg__content')

block content
  include layouts/components/about
  include layouts/components/white_space
  include layouts/section_network
  include layouts/components/white_space
  include layouts/get_board
