footer.footer
    .footer__item
        a(href="https://rcn.market/").--link Marketplace
        a(href="https://medium.com/rcnblog").--link Blog
        a(href="info@ripiocredit.network").--link info@ripiocredit.network
    .footer__socials
        .--icon
            a(href="https://github.com/ripio")
                i.fab.fa-github
        .--icon
            a(href="https://twitter.com/RCNFinance")
                i.fab.fa-twitter
        .--icon
            a(href="https://t.me/RCNchat")
                i.fas.fa-paper-plane
        .--icon
            a(href="https://discord.com/invite/9PMxhst")
                i.fab.fa-discord
        .--icon
            a(href="https://www.reddit.com/r/rcn_token/")
                i.fab.fa-reddit-alien
    .footer__copy
        p © Copyright 2019
