footer.footer
    .footer__item
        a(href="https://rcn.market/").--link Credit Marketplace
        a(href="https://medium.com/rcnblog").--link Blog
        a(href="contact@rcn.finance").--link contact@rcn.finance
    .footer__socials
        .--icon
            a(href="https://twitter.com/RCNFinance")
                i.fab.fa-twitter
        .--icon
            a(href="https://www.facebook.com/RCN.finance/")
                i.fab.fa-facebook
        .--icon
            a(href="https://t.me/RCNchat")
                i.fas.fa-paper-plane
        .--icon
            a(href="https://www.linkedin.com/company/rcn-finance/")
                i.fab.fa-linkedin
        .--icon
            a(href="https://github.com/ripio")
                i.fab.fa-github
    .footer__copy
        p © Copyright 2020
