footer.footer
    .footer__item
        a(href="https://rcn.market/", target="_blank").--link Credit Marketplace
        a(href="https://medium.com/rcnblog", target="_blank").--link Blog
        a(href="contact@rcn.finance").--link contact@rcn.finance
    .footer__socials
        .--icon
            a(href="https://twitter.com/RCNFinance", target="_blank")
                i.fab.fa-twitter
        .--icon
            a(href="https://www.facebook.com/RCN.finance/", target="_blank")
                i.fab.fa-facebook
        .--icon
            a(href="https://t.me/RCNchat", target="_blank")
                i.fas.fa-paper-plane
        .--icon
            a(href="https://www.linkedin.com/company/rcn-finance/", target="_blank")
                i.fab.fa-linkedin
        .--icon
            a(href="https://github.com/ripio", target="_blank")
                i.fab.fa-github
    .footer__copy
        p © Copyright 2020
