footer.footer
    .footer__item
        a(href="http://").--link Marketplace
        a(href="http://").--link Blog
        a(href="http://").--link Marketplace
    .footer__socials
        .--icon
            a(href="http://")
                img(src="assets/images/twitter-brands.svg", alt="")
        .--icon
            a(href="http://")
                img(src="assets/images/twitter-brands.svg", alt="")
        .--icon
            a(href="http://")
                img(src="assets/images/twitter-brands.svg", alt="")
    .footer__copy
        a(href="http://") © Copyright 2019
