section.hero
    .container
        .hero__content
            .row
                .hero__content--left.col-md-6
                    h2 Welcome to
                    h1
                        | Blockchain
                        br
                        | Global
                        br
                        | Lending
                    p.--lead RCN is an open-source global credit network that connects lenders, borrowers and loan originators on the blockchain to create frictionless, transparent and borderless debt markets.
                    a(href="#").button.button--primary See how it works
                .hero__content--right.col-md-6
                    img(src="/assets/images/hero-image.png", alt="")