section.hero
    .container
        .hero__content
            .row
                .hero__content--left.col-md-6
                    h2.dn.db-sm Welcome to...
                    h1
                        | Blockchain
                        br
                        | Global
                        br
                        | Lending
                    p.lead RCN is an open global credit network that connects borrowers, creditors, and financial institutions on the blockchain to create efficient, scalable, and borderless debt market.
                    a(href="#").button.button--primary See how it works
                .hero__content--right.col-md-6
                    img(src="assets/images/hero-image.png", alt="")
    .scroll-down
        span.scroll-down--item
        span.scroll-down--item
        span.scroll-down--item
            img(src="assets/images/arrow-right-blue.svg", alt="")