section#menu-dropdown.menu--dropdown
    .menu__item
        span.nav-icon#close
            i.fas.fa-times
    .menu__item--links
            a(href="/lenders") Lenders
            a(href="/borrowers") Borrowers
            a(href="/originators") Originators
            a(href="https://github.com/ripio", target="_blank") Developers
            a(href="/howitworks") How it works
            a(href="https://rcn.market", target="_blank") Marketplace
    .menu__item--contact
        h3
          a(href="https://t.me/RCNchat", target="_blank") Join the community
        hr
