section#menu-dropdown.menu--dropdown
    .menu__item
        span.nav-icon#close
            i.fas.fa-times
    .menu__item--links
            a(href="https://ripio.github.io/rcn-website/creditors", target="_blank") Creditors
            a(href="https://ripio.github.io/rcn-website/originators", target="_blank") Originator
            a(href="https://exchange.ripio.com/es/", target="_blank") Developers
            a(href="https://exchange.ripio.com/es/", target="_blank") How it works
    .menu__item--contact
        h3 Get in touch
        hr
        