section.menu#menu-sticky
    .menu__item.menu__item--brand
        a(href="/", alt="RCN")#logo.logo
            img(src="assets/images/rcn-iso_azul.svg", alt="").icon
            span RCN
    .menu__item#menu
        div
            img(src="https://ripio-cms-us.s3.amazonaws.com/filer_public/18/69/18691f85-882a-484a-a256-acb40076f75c/icon-menu.svg", alt="Menu")
