section#menu-dropdown.menu--dropdown
    .menu__item
        span.nav-icon#close
            img(src="/assets/images/icon-close.svg", alt="Close")
    .menu__item--links
            a(href="https://exchange.ripio.com/es/", target="_blank") Creditors
            a(href="https://exchange.ripio.com/es/", target="_blank") Originator
            a(href="https://exchange.ripio.com/es/", target="_blank") Developers
            a(href="https://exchange.ripio.com/es/", target="_blank") How it works
    .menu__item--contact
        h3 Get in touch
        hr
        