section.get-started.--board
    .get-started__mask
          span
            | The
            br
            | Token.
    .container
        .get-started__content
            h3 RCN Token.
            p.lead The RCN Token is an ERC-20 token, Ethereum smart-contract, and one of the currencies that allows users to receive, repay and collect loans on the RCN protocol.
