section.get-started.--board
    .get-started__mask
          span
            | The
            br
            | Token.
    .container
        .get-started__content
            h3 Token.
            p.lead The RCN token is an Ethereum smart-contract that sits at the heart of the RCN protocol, acting as a vehicle that allows value to seamlessly travel through the blockchain across borders and between currencies. Using a series of Liquidity Pools, the funds provided by a lender in crypto or local fiat currency can be exchanged by RCN, broadcasted to the blockchain and finally exchanged again for the borrower’s currency of choice. The whole transaction takes place in just a few seconds and does not involve any fees, regardless of where the lender and the borrower might be at the time of the operation. Moreover, as the funds are never stored in proprietary third-party wallets, security and transparency are guaranteed at every step of the process.