section.get-started.--board
    .get-started__mask
        span Get on board.
    .container
        .get-started__content
            h3 Get on Board.
            p.lead Interested in becoming a corporate borrower? Get in touch, join the network and start taking advantage of the benefits of blockchain-based credit!
            a.link(href="mailto:partners@rcn.finance") partners@rcn.finance
