section.get-started.--board
    .get-started__mask
          span
            | The
            br
            | Token.
    .container
        .get-started__content
            h3 RCN Token.
            p.lead The RCN Token is an ERC-20 token and Ethereum smart-contract. It is a vehicle that allows users to denominate, fund, collateralize, repay and collect loans on the RCN protocol.
