section.get-started
    .get-started__mask
        span Getting started.
    .container
        .get-started__content
            h3 Getting started.
            p.lead RCN blockchain-based borrowing eliminates unnecessary friction, allowing borrowers to start requesting loans in three easy steps.
        .get-started__list
            .card
                .card--num
                    span 1
                .card--icon
                    img(src="assets/images/getting-started-1.svg", alt="")
                h3 Get connected
                p Access the
                  a(href="https://rcn.market", target="_blank") Credit Marketplace
                  and connect yourself using one of the available wallets.
            .card
                .card--num
                    span 2
                .card--icon
                    img(src="assets/images/getting-started-2.svg", alt="")
                h3 Choose your terms
                p Select your borrowing conditions, including Currency, Amount, Annual Rate and Duration.
            .card
                .card--num
                    span 3
                .card--icon
                    img(src="assets/images/getting-started-3.svg", alt="")
                h3 Supply your collateral
                p Choose your Collateral Currency, Amount and Ratio and confirm the transaction. That’s it!
