section.get-started
    .get-started__mask
        span Getting started.
    .container
        .get-started__content
            h3 Getting started.
            p.lead RCN’s blockchain-based lending eliminates unnecessary friction, allowing creditors to start lending in three easy steps.
        .get-started__list
            .card
                .card--num
                    span 1
                .card--icon
                    img(src="assets/images/home-frictionless.svg", alt="")
                h3 Get crypto
                p Acquire RCN eligible lending currencies in exchanges, brokers or peer-to-peer platforms.
            .card
                .card--num
                    span 2           
                .card--icon
                    img(src="assets/images/home-frictionless.svg", alt="")
                h3 Getting started.
                p RCN’s blockchain-based lending eliminates unnecessary friction, allowing creditors to start lending in three easy steps.
            .card
                .card--num
                    span 3
                .card--icon
                    img(src="assets/images/home-frictionless.svg", alt="")
                h3 Getting started.
                p RCN’s blockchain-based lending eliminates unnecessary friction, allowing creditors to start lending in three easy steps.