doctype html
html(lang='en')
  head
    block title
      title RCN - Global Lending
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name='description' content='RCN is an open global credit network that connects lenders, borrowers and loan originators on the blockchain to create frictionless, transparent and borderless debt markets.')
    meta(name='theme-color', content='#3e456c')
    link(rel='manifest' href='assets/head/manifest.json')
    link(rel="shortcut icon" href="assets/head/favicon.ico")
    link(rel="icon" type="image/png" href="assets/head/favicon.png")
    if production
      link(rel='stylesheet', href='assets/css/vendor.min.css')
      link(rel='stylesheet', href='assets/css/main.min.css')
    else
      link(rel='stylesheet', href='assets/css/vendor.css')
      link(rel='stylesheet', href='assets/css/main.css')
    block head
      link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr' crossorigin='anonymous')


  - var bodyClasses = [];
  block vars
  body(class=bodyClasses)
    include includes/mixins
    include general/menu
    include general/menu_responsive
    block content
      //- This gets replaced by content per page

    include general/footer
    block footer
      //- If extra footer content is necessary per page, it can be added per screen

    if production
    script(src='https://www.googletagmanager.com/gtag/js?id=UA-158285508-2', async)
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-158285508-2');
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js')
    script(src='assets/js/main.js')
    block scripts
