section.properties
    .container
        .row
            .properties__content
                .properties__content--title
                    h3.title-md Loan properties
                p.lead To provide its lenders with the highest transparency standards, the RCN Credit Marketplace provides a wealth of data for each of its loans.
            .properties__list
                include components/properties_list_lenders
