section.properties
    .container
        .row
            .properties__content
                .properties__content--title
                    h3.title-md Loan properties
                p.lead In order to provide a highly personalized borrowing experience, the RCN Credit Marketplace’s P2P borrowing mechanism allows its users to request loans choosing almost all their terms.
            .properties__list
                include components/properties_list_borrowers
