section.loan-cycle
    .container
        .loan-cycle__title
            h2 Loan Life Cycle
            p.lead The Loan Life Cycle describes all the different actions that a borrower and a lender might perform on a loan contract, and the related status it acquires after each of them.
        .loan-cycle__content
            img(src="assets/images/esquema-4.svg")