section.properties
    .container
        .row
            .properties__content
                .properties__content--title
                    h3.title-md Characteristics
                p.lead Blockchain technology allows RCN to outperform existing lending solutions to create a frictionless, transparent and completely borderless alternative to traditional debt markets.
            .properties__list
                include components/properties_list
