section.marketplace.ancla#section-4(data-name="Marketplace")
    .marketplace__mask
        span Global leading
    .marketplace__content
        .marketplace__content--left
                img(src="assets/images/tablet.png", alt="")
        .marketplace__content--right
                h3 Meet the decentralized marketplace.
                p.lead RCN’s credit marketplace is mounted on top of a state of the art decentralised application (dApp), which combines the usual tools and features of digital lending platforms with all the transparency and security of the blockchain.
                a(href="#").button.button--primary Access the Market