section.partners.ancla#section-4(data-name="Partners")
    .container
        .partners__title
            h3.title-md Integrations
            p.lead By integrating the ecosystem’s top products, the RCN network is able to deliver the highest performance to its users.
        .partners__carousel
            .item
                .card(data-index='1')
                    .card__icon
                        img(src="assets/images/integrations/logo_ripio.svg", alt="Ripio")
                    .card__title
                        h3 Ripio
                    .card__info
                        h3.title Loan Origination
                        p.lead Ripio is one of Latin America’s leading crypto companies, offering blockchain-based brokerage, trading and OTC services. Through its integration with the RCN network, Ripio acts as a corporate borrower.
            .item
                .card(data-index='2')
                    .card__icon
                        img(src="assets/images/integrations/logo_uniswap.svg", alt="Uniswap")
                    .card__title
                        h3 Uniswap
                    .card__info
                        h3.title Liquidity Provision
                        p.lead Uniswap is a decentralized protocol for automated liquidity provision on Ethereum. Its integration with RCN allows the Credit Marketplace’s users to fund and request loans in a variety of currencies.
            .item
                .card(data-index='3')
                    .card__icon(style="width: 104px;")
                        img(src="assets/images/integrations/logo_chainlink.svg", alt="Chainlink")
                    .card__title
                        h3 Chainlink
                    .card__info
                        h3.title Oracle Provision
                        p.lead Chainlink provides reliable tamper-proof inputs and outputs for complex smart contracts on any blockchain. Its integration with RCN allows the Credit Marketplace’s users to fund and request loans in a variety of currencies.
            .item
                .card(data-index='4')
                    .card__icon(style="width: 100px;")
                        img(src="assets/images/integrations/logo_metamask.svg", alt="MetaMask")
                    .card__title
                        h3 Metamask
                    .card__info
                        h3.title Funds Management
                        p.lead Metamask is a crypto wallet and gateway to blockchain apps. Thanks to it, the Credit Marketplace’s users can connect to the platform and operate with funds in a completely non-custodial way.
            .item
                .card(data-index='5')
                    .card__icon(style="width: 50px;")
                        img(src="assets/images/integrations/logo_walletconnect.svg", alt="WalletConnect")
                    .card__title
                        h3 WalletConnect
                    .card__info
                        h3.title Funds Management
                        p.lead WalletConnect is an open protocol for connecting Wallets to Dapps. Thanks to it, the Credit Marketplace’s users can connect to the platform and operate with funds in a completely non-custodial way.
            .item
                .card(data-index='6')
                    .card__icon
                        img(src="assets/images/integrations/logo_coinbase.svg", alt="Coinbase")
                    .card__title
                        h3 Coinbase Wallet
                    .card__info
                        h3.title Funds Management
                        p.lead Coinbase Wallet is a mobile crypto wallet and Web 3 DApp browser. Thanks to it, the Credit Marketplace’s users can connect to the platform and operate with funds in a completely non-custodial way.
            .item
                .card(data-index='7')
                    .card__icon
                        img(src="assets/images/integrations/logo_makerdao.svg", alt="MakerDAO")
                    .card__title
                        h3 MakerDAO
                    .card__info
                        h3.title Stablecoin Issuance
                        p.lead MakerDAO governs the Maker Protocol, responsible for the management of the Dai stablecoin. Its integration with RCN allows the Credit Marketplace’s users to operate with Dai within the platform.
            .item
                .card(data-index='8')
                    .card__icon
                        img(src="assets/images/integrations/logo_centre.svg", alt="Centre")
                    .card__title
                        h3 Centre
                    .card__info
                        h3.title Stablecoin Issuance
                        p.lead Centre is a governed network powered by price-stable crypto assets, responsible for the management of the USDC stablecoin. Its integration with RCN allows the Credit Marketplace’s users to operate with USDC within the platform.
