section.news.ancla#section-5(data-name="News & Events")
    .news__title
        h3.title-md News & Events
        p.lead As one of the ecosystem’s key stakeholders, the RCN network is regularly featured at top events and media outlets across the world.
    .news__carousel
        a(href="https://www.smartcontractsummit.io/", target="_blank").card
            .card__icon
                img(src="assets/images/events/smart-contract-summit.png", alt="Smart Contract Summit")
            .card__title
                h3 Smart Contract Summit #0
                hr
            .card__lead
                p Smart Contract Summit #0 is the premier conference dedicated to gathering the community pioneering the furthest reaches of the wider smart contract and DeFi frontier.
            .card__adress
                .date
                    .date__icon
                        img(src="assets/images/calendar-alt-solid.svg", alt="")
                    .date__lead
                        p 28 - 29 / 08 / 2020
                .date
                    .date__icon
                        img(src="assets/images/map-marker-alt-solid.svg", alt="")
                    .date__lead
                        p Worldwide
        a(href="https://messari.io/mainnet2020", target="_blank").card
            .card__icon
                img(src="assets/images/events/mainnet.png", alt="Mainnet 2020")
            .card__title
                h3 Mainnet 2020
                hr
            .card__lead
                p Mainnet is the ultimate virtual gathering of the industry’s top thinkers, investors, and builders working towards advancing the development and understanding of our sovereign financial future.
            .card__adress
                .date
                    .date__icon
                        img(src="assets/images/calendar-alt-solid.svg", alt="")
                    .date__lead
                        p 01 - 03 / 06 / 2020
                .date
                    .date__icon
                        img(src="assets/images/map-marker-alt-solid.svg", alt="")
                    .date__lead
                        p Worldwide
        a(href="https://finance.yahoo.com/news/three-innovative-blockchain-projects-argentina-140030383.html", target="_blank").card
            .card__icon
                img(src="assets/images/events/yahoo-finance.png", alt="Yahoo Finance")
            div
                .card__title
                    h3 Yahoo! Finance
                    hr
                .card__lead
                    p Three Innovative Blockchain Projects in Argentina.
        a(href="https://www.blockchainweek.berlin/", target="_blank").card
            .card__icon
                img(src="assets/images/events/blockchain-week-berlin.png", alt="Blockchain Week Berlin")
            .card__title
                h3 Blockchain Week Berlin
                hr
            .card__lead
                p Blockchain Week Berlin is a community initiative that gathers more than 40 events, including Web3 Summit and DAPPCON.
            .card__adress
                .date
                    .date__icon
                        img(src="assets/images/calendar-alt-solid.svg", alt="")
                    .date__lead
                        p 18-29 / 08 / 2019
                .date
                    .date__icon
                        img(src="assets/images/map-marker-alt-solid.svg", alt="")
                    .date__lead
                        p Berlin - Germany
        a(href="https://europe.money2020.com/", target="_blank").card
            .card__icon
                img(src="assets/images/events/moneey2020.png", alt="Money 20/20")
            .card__title
                h3 Money 20/20 Europe
                hr
            .card__lead
                p Money 20/20 is Europe's leading payments & financial services innovation event.
            .card__adress
                .date
                    .date__icon
                        img(src="assets/images/calendar-alt-solid.svg", alt="")
                    .date__lead
                        p 03-05 / 06 / 2019
                .date
                    .date__icon
                        img(src="assets/images/map-marker-alt-solid.svg", alt="")
                    .date__lead
                        p Amsterdam - Netherlands
        a(href="https://www.edcon.io/", target="_blank").card
            .card__icon
                img(src="assets/images/events/edcon.png", alt="Edcon")
            .card__title
                h3 EDCON 2019
                hr
            .card__lead
                p EDCON is a global conference series aiming to accelerate the development of the Ethereum ecosystem worldwide.
            .card__adress
                .date
                    .date__icon
                        img(src="assets/images/calendar-alt-solid.svg", alt="")
                    .date__lead
                        p 08-14 / 04 / 2019
                .date
                    .date__icon
                        img(src="assets/images/map-marker-alt-solid.svg", alt="")
                    .date__lead
                        p Sydney - Australia
        a(href="https://www.coindesk.com/ripio-rolls-out-crypto-powered-loans-across-latin-america", target="_blank").card
            .card__icon
                img(src="assets/images/events/coindesk.png", alt="Coindesk")
            div
                .card__title
                    h3 Coindesk
                    hr
                .card__lead
                    p Ripio Rolls Out Crypto-Powered Loans Across Latin America.
        a(href="https://www.forbes.com/sites/geraldfenech/2018/12/24/interview-a-journey-from-poverty-to-banking-the-unbanked-in-argentina/", target="_blank").card
            .card__icon
                img(src="assets/images/events/forbes.png", alt="Forbes")
            div
                .card__title
                    h3 Forbes
                    hr
                .card__lead
                    p A Journey From Poverty To Banking The Unbanked in Argentina.
        a(href="https://cointelegraph.com/news/global-lending-system-can-be-improved-with-blockchain", target="_blank").card
            .card__icon
                img(src="assets/images/events/cointelegraph.png", alt="Cointelegraph")
            div
                .card__title
                    h3 Cointelegraph
                    hr
                .card__lead
                    p Global Lending System Can Be Improved With Blockchain.
        a(href="https://venturebeat.com/2018/05/03/rcn-launches-ripio-engine-to-bring-blockchain-and-smart-contracts-to-loans/", target="_blank").card
            .card__icon
                img(src="assets/images/events/venture-beat.png", alt="Venturebeat")
            div
                .card__title
                    h3 Venturebeat
                    hr
                .card__lead
                    p RCN launches Ripio Engine To Bring Blockchain And Smart-Contracts To Loans.
        a(href="https://www.youtube.com/watch?v=H4Dwyv1ySjk", target="_blank").card
            .card__icon
                img(src="assets/images/events/nasdaq.png", alt="Nasdaq")
            div
                .card__title
                    h3 Nasdaq
                    hr
                .card__lead
                    p Trade Talks - Blockchain Is Transforming Global Credit And Lending.
