section.network.ancla#section-1(data-name="The Network")
    .container
        .wrapper
            .network__content
                .network__content--title
                    h3.title-md Network
                p.lead In an increasingly globalized world, RCN harnesses the Ethereum blockchain technology to bridge credit supply and demand across borders, creating a new ecosystem of decentralized lending and borrowing solutions for multiple stakeholders.
            .network__tab
                .network__tab--nav
                    button.tablinks(data-tabname='Ecosystem') LENDERS
                    button.tablinks(data-tabname='Creditors') BORROWERS
                    button.tablinks(data-tabname='Originators') CORPORATE
                .network__tab--content
                    #Ecosystem.tabcontent.--show
                        p.--lead The Credit Marketplace allows lenders worldwide to reach the most attractive lending opportunities, no matter where they are.
                        a(href="/lenders").button.button--primary Learn more
                    #Creditors.tabcontent
                        p.--lead The platform enables any borrower around the world to request funds on their own terms by posting crypto-collateral.
                        a(href="/borrowers").button.button--primary Learn more
                    #Originators.tabcontent
                        p.--lead RCN provides flexible access to global credit supply to a variety of entities beyond retail borrowers.
                        a(href="/originators").button.button--primary Learn more
                .network__tab--nav.--carousel
                    button.tablinks(data-tabname='Ecosystem')
                    button.tablinks(data-tabname='Creditors')
                    button.tablinks(data-tabname='Originators')
