section.partners.ancla#section-4(data-name="Partners")
    .container
        .partners__title
            h3.title-md Partners
            p.lead By establishing relationships with Decentralized Finance ecosystem’s top companies RCN is able to deliver the highest performance across its network.
        .partners__carousel
            .item
                .card(data-index='1')
                    .card__icon
                        img(src="assets/images/ripio-logo.png", alt="", srcset="")
                    .card__title
                        h3 Ripio 1
            .item
                .card(data-index='2')
                    .card__icon
                        img(src="assets/images/metamask.png", alt="", srcset="")
                    .card__title
                        h3 Ripio 2
            .item
                .card(data-index='3')
                    .card__icon(style="width: 104px;")
                        img(src="assets/images/bancor.png", alt="", srcset="")
                    .card__title
                        h3 Ripio 3
            .item
                .card(data-index='4')
                    .card__icon(style="width: 100px;")
                        img(src="assets/images/eea.png", alt="", srcset="")
                    .card__title
                        h3 Ripio 4
            .item
                .card(data-index='5')
                    .card__icon(style="width: 50px;")
                        img(src="assets/images/zeppelin_logo.svg", alt="", srcset="")
                    .card__title
                        h3 Ripio 5
            .item
                .card(data-index='6')
                    .card__icon
                        img(src="assets/images/decentraland.png", alt="", srcset="")
                    .card__title
                        h3 Ripio 6
        .partners__data
            .item(data-index='1')
                h3.title Funds Management 1
                p.lead Metamask is an industry-wide recognized cryptocurrency web wallet, which acts as a bridge between Internet browsers and the Ethereum network. Its simple interface allows RCN lenders to connect with the platform and safely store or move their funds through the blockchain.
            .item(data-index='2')
                h3.title Funds Management 2
                p.lead Metamask is an industry-wide recognized cryptocurrency web wallet, which acts as a bridge between Internet browsers and the Ethereum network. Its simple interface allows RCN lenders to connect with the platform and safely store or move their funds through the blockchain.
            .item(data-index='3')
                h3.title Funds Management 3
                p.lead Metamask is an industry-wide recognized cryptocurrency web wallet, which acts as a bridge between Internet browsers and the Ethereum network. Its simple interface allows RCN lenders to connect with the platform and safely store or move their funds through the blockchain.
            .item(data-index='4')
                h3.title Funds Management 4
                p.lead Metamask is an industry-wide recognized cryptocurrency web wallet, which acts as a bridge between Internet browsers and the Ethereum network. Its simple interface allows RCN lenders to connect with the platform and safely store or move their funds through the blockchain.
            .item(data-index='5')
                h3.title Funds Management 5
                p.lead Metamask is an industry-wide recognized cryptocurrency web wallet, which acts as a bridge between Internet browsers and the Ethereum network. Its simple interface allows RCN lenders to connect with the platform and safely store or move their funds through the blockchain.
            .item(data-index='6')
                h3.title Funds Management 6
                p.lead Metamask is an industry-wide recognized cryptocurrency web wallet, which acts as a bridge between Internet browsers and the Ethereum network. Its simple interface allows RCN lenders to connect with the platform and safely store or move their funds through the blockchain.