section.news#ancla(data-bar="algo")
    .news__title
        h3.title-md The Network
        p.lead As one of the Decentralized Finance ecosystem’s top companies, RCN is regularly present at key events and media outlets across the world.
    .news__carousel
        a(href="").card
            .card__icon
                img(src="assets/images/fintech-logo.png", alt="", srcset="")
            .card__title
                h3 LendIt USA 2019
                hr
            .card__lead
                p LendIt is one of the world’s leading events in financial services innovation, fintech, digital banking, blockchain and lending.
            .card__adress
                .date
                    .date__icon
                        img(src="assets/images/calendar-alt-solid.svg", alt="")
                    .date__lead
                        p 04 / 08-09 / 2019
                .date
                    .date__icon
                        img(src="assets/images/map-marker-alt-solid.svg", alt="")
                    .date__lead
                        p San Francisco - US
        a(href="").card
            .card__icon
                img(src="assets/images/coindesk-icon.png", alt="", srcset="")
            .card__title
                h3 Coindesk
                hr
            .card__lead
                p Ripio Rolls Out Crypto-Powered Loans Across Latin America.
        a(href="").card
            .card__icon
                img(src="assets/images/edcon.png", alt="", srcset="")
            .card__title
                h3 EDCON 2019
                hr
            .card__lead
                p EDCON is a global conference series aiming to accelerate the development of the Ethereum ecosystem worldwide.
            .card__adress
                .date
                    .date__icon
                        img(src="assets/images/calendar-alt-solid.svg", alt="")
                    .date__lead
                        p 04 / 08-09 / 2019
                .date
                    .date__icon
                        img(src="assets/images/map-marker-alt-solid.svg", alt="")
                    .date__lead
                        p San Francisco - US
        a(href="").card
            .card__icon
                img(src="assets/images/forbes.png", alt="icon", width="170")
            div
                .card__title
                    h3 Forbes
                    hr
                .card__lead
                    p A Journey From Poverty To Banking The Unbanked in Argentina.
        a(href="").card
            .card__icon
                img(src="assets/images/blockchain.png", alt="", srcset="")
            div
                .card__title
                    h3 Blockchain Week Berlin
                    hr
                .card__lead
                    p A Journey From Poverty To Banking The Unbanked in Argentina.
        a(href="").card
            .card__icon
                img(src="assets/images/home-frictionless.svg", alt="", srcset="")
            div
                .card__title
                    h3 Frictionless
                    hr
                .card__lead
                    p The network allows creditors to make loans in a variety of lending and borrowing currencies.