section.marketplace.ancla#section-4(data-name="Marketplace")
    .marketplace__mask
        span Global Credit
    .marketplace__content
        .marketplace__content--left
                img(src="assets/images/tablet.png", alt="")
        .marketplace__content--right
                h3 Meet the Credit Marketplace.
                p.lead The RCN Credit Marketplace is a proprietary dApp that allows users to access the RCN protocol and connect with its features. By combining digital lending and borrowing tools with all the transparency and security of the blockchain, the RCN Credit Marketplace enables users to fund DeFi and CeFi loans, request P2P loans and manage everything in one place.
                a(href="https://rcn.market", target="_blank").button.button--primary Access the Marketplace
