section.network
    .container
        .wrapper
            .network__content
                h3.network__content--title The Network
                p.network__content--lead In an increasingly globalized world, RCN harnesses blockchain technology to bridge credit’s supply and demand across borders, creating a new ecosystem for decentralized debt product.
            .network__tab
                .network__tab--nav
                    button.tablinks(data-tabname='Ecosystem') Ecosystem
                    button.tablinks(data-tabname='Creditors') Creditors
                    button.tablinks(data-tabname='Originators') Originators
                .network__tab--content
                    #Ecosystem.tabcontent.--show
                        p.--lead The network connects credit markets’ stakeholders with key Decentralized Finance service providers, including ID verifiers, scoring agents and exchanges.
                        a(href="#").button.button--primary Learn More
                    #Creditors.tabcontent
                        p.--lead
                            | The decentralized marketplace allows 
                            strong lenders
                            |  to 
                            strong reach the most profitable debt
                            |  markets around the world, no matter where they are.
                        a(href="#").button.button--primary Learn More
                    #Originators.tabcontent
                        p.--lead The platform provides financial institutions, fintech lending companies and blockchain startups with access to global credit supply.
                        a(href="#").button.button--primary Learn More
                .network__tab--nav.--carousel 
                    button.tablinks(data-tabname='Ecosystem') 
                    button.tablinks(data-tabname='Creditors') 
                    button.tablinks(data-tabname='Originators')