section.features.ancla#section-3(data-name="Characteristics")
    .container
        .features__content
            .feature__content--title
                h3.title-md Characteristics
            p.lead Blockchain technology allows the RCN network to outperform existing lending and borrowing solutions by creating a frictionless, transparent and completely borderless alternative to traditional loan markets.
        .features__list
            include components/card_list_characteristics
