section.cases
    .container
        .cases__title
            h2 Usecases
        .cases_list
            .list-item
                h3 Crypto collateral-backed loans
                p In the absence of an Originator, a Borrower can request loans with different durations, interest rates, LTV ratios and amortization schedules directly on the decentralized marketplace by offering cryptocurrency as collateral. The collateralized funds are stored on a non-custodial escrow smart-contract, guaranteeing their security until the loan is repaid.
            .cases__image
                img(src="assets/images/esquema-1.svg", alt="", srcset="")
            .list-item
                h3 Crypto collateral-backed loans
                p In the absence of an Originator, a Borrower can request loans with different durations, interest rates, LTV ratios and amortization schedules directly on the decentralized marketplace by offering cryptocurrency as collateral. The collateralized funds are stored on a non-custodial escrow smart-contract, guaranteeing their security until the loan is repaid.
            .cases__image
                img(src="assets/images/esquema-2.svg", alt="", srcset="")
            .list-item
                h3 Crypto collateral-backed loans
                p In the absence of an Originator, a Borrower can request loans with different durations, interest rates, LTV ratios and amortization schedules directly on the decentralized marketplace by offering cryptocurrency as collateral. The collateralized funds are stored on a non-custodial escrow smart-contract, guaranteeing their security until the loan is repaid.
            .cases__image
                img(src="assets/images/esquema-3.svg", alt="", srcset="")
