section.cases
    .container
        .cases__title
            h2 Use cases
        .cases_list
            .list-item
                h3 DEFI LOANS
                p DeFi (Decentralized Finance) P2P loans are requested by retail borrowers within the crypto ecosystem. They are denominated in cryptocurrencies and backed by crypto-collateral locked in a smart-contract. The funds obtained through them are usually employed to finance the borrowers’ leveraged investments.
            .cases__image
                img(src="assets/images/esquema-1.svg", alt="", srcset="")
            .list-item
                h3 CEFI LOANS
                p CeFi (Centralized Finance) loans are requested by corporate borrowers, economic entities that exist beyond the crypto ecosystem. They are denominated in either fiat or crypto currencies, and backed by their borrower’s reputation. The funds obtained through them are usually applied to satisfy the Originators’ general financial requirements.
            .cases__image
                img(src="assets/images/esquema-2.svg", alt="", srcset="")
