html {
  min-height: 100%;
  position: relative;
  font-family: $system-fonts;
  color: $black;

  &.wf-active {
    font-family: $font;
  }
}

body {
  font: inherit;
  line-height: inherit;
  color: $black;
}

input,
textarea {
  font-family: inherit;
}

::-webkit-input-placeholder {
  color: #242424;
  opacity: 0.5;
  font-size: rem(16);
}
::-moz-placeholder {
  color: #242424;
  opacity: 0.5;
  font-size: rem(16);
}
:-ms-input-placeholder {
  color: #242424;
  opacity: 0.5;
  font-size: rem(16);
}
:-moz-placeholder {
  color: #242424;
  opacity: 0.5;
  font-size: rem(16);
}

// Typography sizes

.title-sm {
  font: 800 normal 16px/20px $font;
}
.title-md {
  font: 800 normal 42px/52px $font;
  letter-spacing: -2.25px;
  margin-bottom: 20px;
  @include breakpoint(sm) {
    font: 800 normal 45px/54px;
  }
}
.title-lg {
  font: 800 normal 70px/85px $font;
  @include breakpoint(sm) {
    font-size: 125px;
    line-height: 100px;
  }
}

.title-xl {
  font: 800 normal 16px/20px $font;
}

.lead {
  font: 300 normal 17px/24px $font;
  @include breakpoint(sm) {
    font: 300 normal 20px/27px $font;
  }
}
