.hero{
    &__content{
        margin-top: 80px;
        height: 100vh;
        &--left{
            h1{
                color: $color-primary;
                margin-bottom: 35px;
                letter-spacing: -6.25px;
            }
            h2{
                font: 300 normal 30px/29px $font;
                text-transform: uppercase;
                color: $color-primary;
                margin-bottom: 30px;
            }
            p{
                color: $grey;
                margin-bottom: 60px;
            }
        }
        &--right{
            text-align: right;
            @extend .flex, .align-center;
        }
    }
}