.hero{
    position: relative;
    &__content{
        margin-top: 20px;
        margin-bottom: 120px;
        @include breakpoint(sm){
            margin-bottom: 0;
            margin-top: 80px;
        }
        &--left{
            h1{
                color: $color-primary;
                margin-bottom: 35px;
                letter-spacing: -3.5px;
                font: 800 normal 70px/57px $font;
                @include breakpoint(sm){
                    font: 800 normal 125px/100px $font;
                }
            }
            h2{
                font: 300 normal 30px/29px $font;
                text-transform: uppercase;
                color: $color-primary;
                margin-bottom: 30px;
            }
            p{
                color: $grey;
                margin-bottom: 60px;
            }
            order: 2;
            .button{
                display: block;
                @include breakpoint(sm){
                    display: inline-block;
                }
            }
        }
        &--right{
            text-align: right;
            @extend .flex, .align-center;
            order: 1;
            margin-bottom: 30px;
            @include breakpoint(md){
                order: 2;
            }
        }
    }
}